{% extends "base.html" %} 
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static '/css/login.css' %}" />
{% endblock %} 
{% block content %} 
{% if next %} 
{% if user.is_authenticated %}
<p>
  既にログイン済みです。
</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<div class="main__login">
  <form action="" method="post" class="main__login__form">
    <h1 class="main__login__form__title">ログイン</h1>
    {% csrf_token %}
    <div class="main__login__form__error-message">
        {{ form.non_field_erros }}
      </div>
      <div class="main__login__form__item">
        <label for="{{ form.username.id_for_label }}" class="main__login__form__item__label">
          ユーザー名
        </label>
          <div class="main__login__form__item__field">
          	{{ form.username }}
          </div>
          <div class="main__login__form__item__error">
              {{ form.username.errors }}
          </div>
      </div>
      <div class="main__login__form__item">
        <label for="{{ form.password.id_for_label }}" class="main__login__form__item__label">
          パスワード
        </label>
          <div class="main__login__form__item__field">
              {{ form.password }}
          </div>
          <div class="main__login__form__item__error">
              {{ form.password.errors }}
          </div>
          {% if form.errors %}
            <p class="main__login__form__item__error">ユーザー名とパスワードが一致しません。</p>
          {% endif %}
      </div>
    <input type="submit" value="ログイン"  class="main__login__form__item__submit" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
