$theme-color: #f7d94c;
$bg-color: #fefefe;
$second-color: #d95d39;

.main {
  &__abouts {
    &__list__item {
      display: block;
      margin: 18px 0 32px 0;
    }
    &__title {
      border-left: 8px solid $theme-color;
      display: inline-block;
      font-size: 28px;
      font-weight: 600;
      padding: 4px 8px;
    }
    &__text {
      margin: 0 0 8px 16px;
      line-height: 32px;
    }
    &__asobikata {
      &__odai-link {
        background-color: #f4cc1a;
        border: 1px solid #0e142855;
        border-radius: 2px;
        color: $bg-color;
        display: block;
        margin: 18px auto;
        padding: 2px 8px;
        text-align: center;
        transition: background-color 0.2s;
        width: 140px;
        &:hover {
          background-color: $second-color;
        }
      }
    }
  }
}
