@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

$theme-color: #f7d94c;
$darker-theme-color: #f4cc1a;
$text-color: #0e1428;
$bg-color: #fefefe;
$second-color: #d95d39;
$darker-second-color: #b74424;

// レスポンシブ設定
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

* {
  font-family: 'Open Sans', 'M PLUS 1p', cursive;
}
body {
  background-color: $bg-color;
  color: $text-color;
  font-size: 16px;
}

.header {
  background-color: $theme-color;
  display: flex;
  justify-content: space-between;
  height: 48px;
  &__title {
    font-family: 'Lemon', cursive;
    font-size: 32px;
    line-height: 48px;
    margin: 0 24px;
  }
  &__nav__list {
    display: flex;
    justify-content: space-around;
    height: 48px;
    margin-right: 24px;
    &__item {
      color: $bg-color;
      display: inline-block;
      font-size: 16px;
      display: inline-block;
      line-height: 48px;
      height: 48px;
      text-align: center;
      transition: background-color 0.2s;
      width: 80px;
      &:hover {
        background-color: $darker-theme-color;
      }
      &.login {
        background-color: $second-color;
        &:hover {
          background: $darker-second-color;
        }
      }
    }
  }
}

.main {
  // border: 1px solid green; /* TODO: 最後に削除 */
  margin: 0 auto;
  min-height: 100vh;
  max-width: 640px;
  min-width: 320px;
}

.footer {
  background-color: $text-color;
  color: $bg-color;
  font-size: 12px;
  height: 60px;
  padding: 8px 0;
  &__abouts {
    height: 22px;
    width: 360px;
    margin: 0 auto;
    ul {
      display: flex;
      justify-content: center;
      li {
        display: inline-block;
        line-height: 22px;
        text-align: center;
        transition: opacity 0.2s;
        width: 120px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  &__copyright {
    font-size: 10px;
    line-height: 22px;
    text-align: center;
  }
}
