{% extends 'onomato/base.html' %} {% load static %} {% block content %}
<div class="main__abouts">
  <ul class="main__abouts__list">
    <li class="main__abouts__concept" id="main__abouts__concept">
      <h2 class="main__abouts__title">
        onomatopoiia へようこそ！
      </h2>
      <div class="main__abouts__text">
        <p>
          onomatopoiia（オノマトポイーア）は未知のオノマトペにしっくりくる、<br />
          「ぽい」説明や概念をみんなで考えるゆるふわ大喜利系サイトです。
        </p>
      </div>
    </li>
    <li class="main__abouts__onomatopee" id="main__abouts__onomatopee">
      <h2 class="main__abouts__title">
        オノマトペ とは？
      </h2>
      <div class="main__abouts__text">
        <p>
          オノマトペ（onomatopoeia, onomatopee）は<br />
          「ワンワン」「パチパチ」「ワクワク」などの、
          擬声語や擬音語、擬態語を<br />
          指す言葉です。 （元来の意味は擬声語のみらしいです。）
        </p>
      </div>
    </li>
    <li class="main__abouts__asobikata" id="main__abouts__asobikata">
      <h2 class="main__abouts__title">遊び方</h2>
      <p>
        お題となるオノマトペに20文字以内で概念を書いて遊びましょう。<br />
        「どういう風に答えるのか分からない」という人は、<br />
        他の人の回答を見て感覚を掴みましょう。<br />
        思いつきで書いたものが案外しっくり来たりするかも...！？
      </p>
    </li>

    <li class="main__abouts__contact" id="main__abouts__contact"></li>
  </ul>
</div>
{% endblock %}
