<!-- {% load static %} -->
<!-- {% extends 'onomato/base.html' %} -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- TODO : テスト用の記述  テンプレートに書き換えるときに削除 -->
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/about.css" />

    <!-- ここまで -->
    <title>onomatopoiia</title>
  </head>
  <body>
    <header class="header">
      <h1>
        <a href="#" class="header__title">onomatopoiia</a>
      </h1>
      <nav class="header__nav">
        <ul>
          <a href="#"><li>お題</li></a>
          <a href="#"><li>ログイン</li></a>
        </ul>
      </nav>
    </header>
    <main class="main">
      <div class="main__abouts">
          <div class="main__abouts__concept">
            onomatopoiia へようこそ！
            <p>
              onomatopoiia（オノマトポイーア）は未知のオノマトペにしっくりくる、「ぽい」説明をみんなで考える大喜利系サイトです。
            </p>
          </div>
          <div class="main__abouts__onomatopee"></div>
          <div class="main__abouts__policy"></div>
          <div class="main__abouts__contact"></div>
    </main>
    <footer class="footer">
      <div class="footer__abouts">
        <ul>
          <a href="#"><li>onomatopoiiaとは</li></a>
          <a href="#"><li>利用規約</li></a>
          <a href="#"><li>お問い合わせ</li></a>
        </ul>
      </div>
      <div class="footer__copyright">
        <p>
          (c) 2020 onomatopoiia
        </p>
      </div>
    </footer>
  </body>
</html>
