{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'onomato/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'onomato/css/base.css' %}" />
    {% block link %}{% endblock %}
    <title>onomatopoiia</title>
  </head>
  <body>
    <header class="header">
      <h1>
        <a href="/onomato/" class="header__title">onomatopoiia</a>
      </h1>
      <nav class="header__nav">
        <ul class="header__nav__list">
          <a href="/onomato/odai/"
            ><li class="header__nav__list__item">お題</li></a
          >
          <a href="#" class="header__nav__list__item login"
            ><li>ログイン</li></a
          >
        </ul>
      </nav>
    </header>
    <main class="main">
      {% block content %} {% endblock %}
    </main>
    <footer class="footer">
      <div class="footer__abouts">
        <ul>
          <a href="/onomato/about/"><li>このサイトについて</li></a>
          <a href="/onomato/tos/"><li>利用規約等</li></a>
          <a href="/onomato/contact/"><li>お問い合わせ</li></a>
        </ul>
      </div>
      <div class="footer__copyright">
        <p>
          (c) 2020 onomatopoiia
        </p>
      </div>
    </footer>
  </body>
  <script>
    // Chrome の読み込み時の transition が効くのを防ぐための空コード
  </script>
  <script src="{% static 'onomato/js/base.js' %}"></script>
  {% block script %} {% endblock %}
</html>
