{% extends 'onomato/base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'onomato/css/odai_detail.css' %}" />
{% endblock %} {% block content %}
<div class="main__kaitou">
  <div class="main__kaitou__odai">
    <h2 class="main__kaitou__odai-text">{{ odai.odai_text }}</h2>
  </div>
  {% comment %} {% if not form %}
  <p>受け取ったformが空！</p>
  {% endif %} {% endcomment %}
  <form method="post" class="main__kaitou__form">
    {% csrf_token %}
    <label for="answer-text">これはなに？</label>
    <input
      type="text"
      id="answer-text"
      name="answer-text"
      placeholder="20文字まで"
      maxlength="20"
      required
      autofocus
    />
    <input type="submit" value="送信" class="main__kaitou__form__submit" />
  </form>
  <div class="main__kaitou__kaitous">
    {% if odai.answer_set.all %} {% for q in odai.answer_set.all %}
    <div class="main__kaitou__kaitous__kaitou">
      <p>{{q.answer_text}}</p>
    </div>
    {% endfor %} {% else %}
    <div class="main__kaitou__no-kaitou-message">
      <p>まだ概念がありません。</p>
      <p>あなたが第一人者になろう！</p>
    </div>
    {% endif %}
  </div>
  <div class="main__kaitou__links">
    <a href="/onomato/odai/" class="main__kaitou__links__odai-link"
      >お題一覧へ<br />戻る</a
    >
    <a href="/onomato/odai/" class="main__kaitou__links__odai-link"
      >別のお題に<br />行く</a
    >
  </div>
</div>
{% endblock %}
