{% extends 'onomato/base.html' %} {% load static %} {% block content %}
<div class="main__abouts">
  <ul class="main__abouts__list">
    <li class="main__abouts__policy" id="ain__abouts__policy">
      <h2 class="main__abouts__title">利用規約</h2>
      <p>
        この利用規約（以下，「本規約」といいます。）は，＿＿＿＿＿（以下，「当社」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
      </p>
      <h3 class="main__abouts__policy__subtitle">第一条（適用）</h3>
      <ol>
        <li>
          本規約はユーザーと提供者との間の本サービスの利用に関わる一切の関係に適用されるものとします。
        </li>
        <li></li>
        <li></li>
      </ol>
    </li>
    <li class="main__abouts__policy" id="main__abouts__privacy-policy"></li>
    <li class="main__abouts__contact" id="main__abouts__contact"></li>
  </ul>
</div>
{% endblock %}
