{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static '/css/about.css' %}" />
{% endblock %}
{% block content %}
<div class="main__abouts">
  <ul class="main__abouts__list">
    <li class="main__abouts__concept main__abouts__list__item" id="main__abouts__concept">
      <h2 class="main__abouts__title">
        onomatopoiia へようこそ！
      </h2>
      <div class="main__abouts__text">
        <p>
          onomatopoiia（オノマトポイーア）は カナ 2 文字 × 2 のオノマトペにしっくりくる
          <strong>「ぽい」</strong>説明や概念をみんなで考える、ゆるふわ大喜利系サイトです。
          未知のオノマトペはもちろん、既存のオノマトペに新たな意味を添えるのも一興。
          今日からあなたも「<strong>言の葉を紡ぎし者  <ruby>擬声戦士<rp><rt>オノマトパー</rt></rp></ruby>（☆8 儀式モンスター）</strong>」だ！
        </p>
      </div>
    </li>
    <li class="main__abouts__onomatopee main__abouts__list__item" id="main__abouts__onomatopee">
      <h2 class="main__abouts__title">
        オノマトペ とは？
      </h2>
      <div class="main__abouts__text">
        <p>
          オノマトペ（onomatopoeia, onomatopee）は<br />
          「ワンワン」「パチパチ」「ワクワク」などの、
          擬声語や擬音語、擬態語を
          指す言葉です。 （元来の意味は擬声語のみらしいです。）
          日本語におけるオノマトペの歴史は、日本最古の歴史書である古事記にも記されているそうです。
          私達が残したオノマトペもいずれ歴史となり未来人にとって高尚なものになるのでしょう。
        </p>
      </div>
    </li>
    <li class="main__abouts__asobikata main__abouts__list__item" id="main__abouts__asobikata">
      <h2 class="main__abouts__title">遊び方</h2>
      <div class="main__abouts__text">
        <p>
          お題となるオノマトペに<strong>20文字以内</strong>で回答して遊びましょう。<br />
          <p>お題例 : パチパチ</p>
          <ul>
            <li>回答例 1 : 線香花火の様子</li>
            <li>回答例 2 : 電気の流れる音</li>
            <li>回答例 3 : 賭け事に勤しむ様子</li>
          </ul>
          「どういう風に答えるのか分からない」「思いつかない」という人は、<br />
          他の人の回答を見て感覚を掴むのもアリだと思います。<br />
          思いつきで書いたものが案外しっくり来たりするかも...！？

        <p>※ お願い</p>
          下ネタや誹謗中傷（他人を傷つける）を含む内容は書かないようにしてください。<br>
          回答を削除させていただく場合があります。
        </p>
        <a href="{% url 'onomato:odai_index' %}" class="main__abouts__asobikata__odai-link">
          お題を見てみる
        </a>
      </div>
    </li>

    <li class="main__abouts__contact" id="main__abouts__contact"></li>
  </ul>
</div>
{% endblock %}
