{% extends 'base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static '/css/index.css' %}" />
{% endblock %} {% block content %}
<div class="main__top">
  <div class="main__top__first-view">
    <p class="main__top__first-view__catch-copy">
      今日から君も オノマトパー。
    </p>
    <p class="main__top__first-view__catch-copy english">
      You are "ONOMATOPER" from today!
    </p>
    <p class="main__top__first-view__text text--1">フワフワ</p>
    <p class="main__top__first-view__text text--2">サクサク</p>
    <p class="main__top__first-view__text text--3">スボスボ</p>
    <p class="main__top__first-view__text text--4">フムフム</p>
    <p class="main__top__first-view__text text--5">ヨヌヨヌ</p>
    <p class="main__top__first-view__text text--6">ヘケヘケ</p>
    <p class="main__top__first-view__text text--7">グゲグゲ</p>
    <p class="main__top__first-view__text text--8">ポベポベ</p>
    <p class="main__top__first-view__text text--9">オノオノ</p>
    <p class="main__top__first-view__text text--10">マグマグ</p>
    <p class="main__top__first-view__text text--11">クナクナ</p>
    <p class="main__top__first-view__text text--12">グビグビ</p>
    <p class="main__top__first-view__text text--13">ヌフヌフ</p>
    <p class="main__top__first-view__text text--14">イコイコ</p>
  </div>
  <div class="main__top__navs">
    <a href="{% url 'onomato:about' %}" class="main__top__navs__item">遊び方</a>
    <a href="{% url 'onomato:odai_index' %}" class="main__top__navs__item">
      お題一覧
    </a>
    <a href="#" class="main__top__navs__item disabled">
      ランダムお題
    </a>
  </div>
  <div class="main__top__latest-answers">
    <h2 class="main__top__latest-answers__title">最新の回答</h2>
    {% if latest_answer %} {% for answer in latest_answer %}
    <div class="main__top__latest-answers__answer">
      <div class="main__top__latest-answers__answer__odai-answer">
        <p class="main__top__latest-answers__answer__odai-answer__odai-text">
          {{ answer.odai.odai_text }}
        </p>
        <div
          class="main__top__latest-answers__answer__odai-answer__answer-text"
        >
          {{ answer.answer_text }}
        </div>
      </div>
      {% comment %} HACK: href がハードコーディングなので url を使って書き換える
      {% endcomment %}
      <a
        href="odai/{{ answer.odai.id }}"
        class="main__top__latest-answers__answer__detail-link"
      >
        <div>
          <div class="main__top__latest-answers__answer__detail-link__text">
            回答を見る
          </div>
          <div class="main__top__latest-answers__answer__detail-link__text">
            回答する
          </div>
        </div>
      </a>
    </div>
    {% endfor %} {% else %} {% endif %}
  </div>
</div>
{% endblock %}
