{% extends 'base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static '/css/odai.css' %}" />
{% endblock %} {% block content %}
<div class="main__odais">
  {% if latest_odai %}
  <h2 class="main__odais__title">お題一覧（新着順）</h2>
  {% for odai in latest_odai %}
  <div class="main__odais__odai">
    <div class="main__odais__odai__text">
      {{ odai.odai_text }}
    </div>
    {% comment %} HACK: href を url を使って書く {% endcomment %}
    <a href="/odai/{{ odai.id }}" class="main__odais__odai__detail-link">
      <div>
        <div class="main__odais__odai__detail-link__text">
          回答を見る
        </div>
        <div class="main__odais__odai__detail-link__text">
          回答する
        </div>
      </div>
    </a>
  </div>
  {% endfor %} {% else %}
  <p>お題はまだありません。</p>
  {% endif %}
</div>
{% endblock %}
